
.home{
  background-image: url("../../../../../../../../../../Library/WebServer/Documents/moose.dev/images/background-img.png");
}

body{
  font-family: Open Sans;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6, nav ul li a{
  font-family: Varela Round;
}

.italic{
  font-family: Lato !important;
}

a{
  color: #444;
}


/*.card .card-image:hover{*/
/*border: 1px solid red;*/
/*}*/
/*.card .card-image:hover .quick{*/
  /*display:block !important;*/
/*}*/

.pink-text{
  color: #e88182 !important;
}
.green-text{
  color: #588b4a !important;
}
.yellow-text{
  color: #f4a31e !important;
}
.blue-text{
  color: #58b7dc !important;
}

.infograph{
  height:400px;
  background-color: #e88182;
  padding: 5px 15px;
}
nav ul a,
nav .brand-logo {
  color: #444;
  margin-top: 5px;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #e88182;
  /*color: #26a69a;*/
}

.parallax-container {
  min-height: 480px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
  margin-bottom: 50px;
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
.teal {
  background-color: #e88182 !important;
}

.shop {
  margin-bottom: 50px;
}
.featured{
  border: 1px solid #d2cfcf;
  box-shadow: 4px 4px 2px #707075;
  border-radius: 5px;
  margin: 6px;
}
.featured-div{
  padding: 10px;
}
img.responsive-img {
  max-width: 95%;
  height: auto;
}
/*.sub-img, .main-img {*/
  /*border: 1px solid #d2cfcf;*/
  /*box-shadow: 4px 4px 2px #707075;*/
  /*border-radius: 5px;*/
/*}*/

.contact-per{
  padding: 50px 0;
}
.frm-inq{
  padding:100px 50px !important;
}

nav{height: 80px;}

.topic{
  margin-bottom: 75px;
}

nav ul .home a:hover,
nav ul .women a:hover,
nav ul .men a:hover,
nav ul .home a:focus,
nav ul .women a:focus,
nav ul .men a:focus,
nav ul .about:hover,
nav ul .contact:hover,
nav ul .cart:hover,
nav ul .about:focus,
nav ul .contact:focus,
nav ul .cart:focus
{
  font-weight: bold;
}

nav ul .home:hover, nav ul .home:focus,
nav ul .contact:hover, nav ul .contact:focus{
  border-bottom: 3px solid #e88182;
}

nav ul .women:hover, nav ul .women:focus,
nav ul .cart:hover, nav ul .cart:focus{
  border-bottom: 3px solid #588b4a;
}

nav ul .men:hover, nav ul .men:focus{
  border-bottom: 3px solid #f4a31e;
}

nav ul .about:hover, nav ul .about:focus{
  border-bottom: 3px solid #58b7dc;
}
.home.active{
  border-bottom: 3px solid #e88182 !important;
  font-weight: bold ;
  background-color: transparent !important;
}
.contact.active{
  border-bottom: 3px solid #e88182;
  font-weight: bold;
  background-color: transparent !important;
}
.women.active{
  border-bottom: 3px solid #588b4a;
  font-weight: bold;
  background-color: transparent !important;
}
.cart.active{
  border-bottom: 3px solid #588b4a;
  font-weight: bold;
  background-color: transparent !important;
}
.men.active{
  border-bottom: 3px solid #f4a31e;
  font-weight: bold;
  background-color: transparent !important;
}
.about.active{
  border-bottom: 3px solid #58b7dc;
  font-weight: bold;
  background-color: transparent !important;
}

.hide-on-med-and-down .active a{
  font-size: 1.2rem;
}

.side-nav {width: 50% !important;}

.lft-pro-nav .active a{
  font-size: 1.2rem;
}
.nwarvl:hover,.nwarvl.active {
border-bottom: 3px solid #e88182;
font-weight: bold;
  font-size: 1.2rem;
}
.bstsl:hover,.bstsl.active{
   border-bottom: 3px solid #588b4a;
  font-weight: bold;
  font-size: 1.2rem;
 }
.bstdl:hover,.bstdl.active{
  border-bottom: 3px solid #f4a31e;
  font-weight: bold;
  font-size: 1.2rem;
}
a#stl:hover,a#stl.active{
  border-bottom: 3px solid #58b7dc;
  font-weight: bold;
}

nav ul .cart {
  line-height: 0px;
}
.lv-nav .collapsible-body p {
  margin: 0;
  padding: 0.5rem;
  margin-left: 40px;
}
.lv-nav .collapsible-body p label:hover, .lv-nav .collapsible-body p label:focus {
  text-decoration: underline;
}
.lv-nav label{
  color: #000;
}
footer input, textarea{
  margin: 0 !important;
}

footer h4{
  color: #ffffff;
}
footer textarea{
  padding: 0 !important;
  min-height: 7rem !important;
}
.footer-content{
  border-left: 1px solid silver;
}

footer .center-content{
  color: #cccccc;
  margin-bottom: 20px;
}

footer .center-content-bottom{
  color: #CCCCCC;
  margin-top: 20px;
}

footer .center-content-bottom .fa-stack{
  /*margin-right: 30px;*/
}

footer .right-content{
  color: #CCCCCC;
}

footer .right-content .lst{
  margin-bottom: 40px;
}

nav img{
  width: 95px;
}

.side-nav.fixed{
  transform: translateY(0) !important;
  position: inherit !important;
}

nav ul .cart a{
  color: #e88182;
}

.slider, .slides{
  height: 600px !important;
}
.slider .indicators{
  bottom: 10px;
}

.side-nav a.waves-effect.waves-teal:hover,
.side-nav a.waves-effect.waves-teal:focus,
.side-nav a.collapsible-header.waves-effect.waves-teal:hover,
.side-nav a.collapsible-header.waves-effect.waves-teal:focus{
  font-weight: bolder;
  text-decoration: underline;
}

.quickview{
  position:absolute;
  margin-top:60%;
  left: 20%;
  right: -15px;
  display:none;
}

.card .quickview a{
  width: 75%;
  background:#e88182;
  text-align: center;
  padding: 7px;
  /*border: 1px solid #e88182;*/
}
.card .quickview a{
  color: #FFFFFF;
}

.color-block {
  /*height: 40px;*/
  /*width: 40px;*/
  /*margin: 5px;*/
  padding: 7px;
  line-height: 2.6;
}

.color-section{
  border-top: 1px #999999 dotted;
  padding-top: 10px;
}

.color-section .sep{
  padding: 10px;
}

span.size-block {
  padding: 7px;
  border: 1px solid silver;
  /*margin-top: 10px;*/
  line-height: 3;
}

.modal {
  padding-top: 30px;
  padding-bottom: 30px;
}

.price-section a{

}
button.btn:hover {
  box-shadow: none !important;
  font-weight: bold;
}